<div>
    <nav class= "navbar navbar-expand navbar-dark bg-dark">
      <img src="../assets/image/logo.png" width="250" height="100">
      <a href="#" class="navbar-brand">Bachelor's Cafe</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="menus" class="nav-link">Menus</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Add</a>
        </li>
      </div>
    </nav>
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <img src="../assets/image/V1.jpeg" alt="Bachelor'scafe" style="width:100%">
      <div class="desc"> </div>
    </div>
    <div class="column">
      <img src="../assets/image/V2.jpeg" alt="Welcome" style="width:100%">
      <div class="desc"> </div>
    </div>
   <!--> <div class="column">
      <img src="../assets/image/V5.jpeg" alt="Our Special" style="width:100%">
      <div class="desc"> About Us </div>
    </div>-->
   <!-- <div class="column">
      <img src="../assets/image/V3.jpeg" alt="Our Special" style="width:100%">
      <div class="desc"> Our Special Coffee</div>
    </div>-->
    <div class="column">
      <img src="../assets/image/V4.jpeg" alt="Our Special" style="width:100%">
      <div class="desc"></div>
    </div>
    <!--<div class="column">
      <img src="../assets/image/V6.jpeg" alt="Our Special" style="width:100%">
      <div class="desc"> Visit Again</div>
    </div>-->
  </div>
  <div>
    <footer>
      <p>Contact No: +91 9561595820<br>
          Visit Us: Shop.No 103,Bachelor's Cafe, Potnis Parisar,Karve Nagar,Pune 411052 <br>
          Social Media: <a href="https://www.instagram.com/bachelor.s_cafe?igsh=MmVlMjlkMTBhMg==">Bachelor's Cafe</a>
         </p>
      
    </footer>
  </div>
  
